.about
  %h1 About
  = link_to image_tag(@lindsay_image_url), 'http://parisavenuehouse.wordpress.com/', :target => '_blank'
  %p My name is Lindsay. I live in the South where I write, make music, make homes and make friends. I have two rescue pugs named Nora and Manny and we all live in a 1910 house. Older is always better, in my opinion, and you will usually find me scouring Craigslist and/or the backwoods in search of treasures to restore. Encore Furnishings is my furniture restoration, painting and staining service in Nashville, TN.