.services
  %h1 Services
  %p Custom painting, staining and restoration of furniture of all kinds. From French Provincial to Mid-Century modern, I can transform and restore your furniture so it is better than new! Choose one of our pieces or bring a piece to be custom painted to your specifications.