@import url(http://fonts.googleapis.com/css?family=Lily+Script+One|Comfortaa:700,400);

body {
  width: 80%;
  margin: auto;
  padding-top: 2%;
  background: #d9f4b7;
  font-family: "Comfortaa";
}

body a:hover {
  color: #7a4899;
}

body p {
  letter-spacing: 1.5px;
}

.title_row {
  background: #ae5076;
  padding: 0 3%;
  border-radius: 21px 21px 0 0;
}

.main_title {
  padding: 1% 0 0 0;
}

.main_title h1 a {
  font-family: "Lily Script One";
  text-decoration: underline;
  color: #d4f2af;
  text-shadow: 0 1px 3px gray;
}

.main_title h1 a:hover {
  color: #b2c699;
  text-shadow: none;
}

.navigation_row {
  background: #b2c699;
  padding: 0 3% 0 3%;
  border-radius: 0 0 21px 21px;
  margin-bottom: 2%;
  box-shadow: 0 3px 2px -2px gray;
}

.facebook_actions {
  margin: 0;
  padding: 4% 0 0 0;
}

.navigation_menu {
  text-align: right;
  padding: 4% 0 2% 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  padding: 3%;
  background-color: #89b453;
  border-radius: 5px;
  box-shadow: 0 3px 2px -2px gray;
  color: #d4f2af;
}

.home_images {
  border-radius: 21px;
  background-color: #d9f4b7;
  margin-bottom: 2%;
}

.home_images img {
  border-radius: 21px;
  margin: 2% 1% 0 0;
  width: 32%;
  box-shadow: 0 4px 2px -2px gray;
}

.products {
  width: 100%;
  margin: auto;
}

.products img {
  width: 20%;
  margin: 2%;
  border-radius: 21px;
  box-shadow: 0 4px 2px -2px gray;
}

.product {
  width: 60%;
  margin: 0 20% 2% 20%;
  text-align: center;
}

.product img {
  border-radius: 21px;
}

.product p {
  width: 100%;
  margin-top: 4%;
}

.products_link a {
  color: #ae5076;
  text-decoration: underline;
}

.products_link a:hover {
  color: #b998cd;
}

.about img, .about p {
  width: 60%;
  margin: 0 20% 2% 20%;
  border-radius: 21px;
}

.services p {
  width: 60%;
  margin: 0 20% 2% 20%;
}

.contact p {
  width: 80%;
  margin: 0 20% 2% 20%;
}

.content h1 {
  font-family: "Comfortaa";
  font-weight: bold;
  text-align: center;
  color: #b998cd;
  text-shadow: 0 1px 2px gray;
}

.contact_form {
  width: 60%;
  margin: 0 20%;
}

.contact_form_submit_button {
  font-family: "Comfortaa" !important;
  padding: 2% !important;
  border: 1px solid #89b453;
  background-color: #89b453;
  border-radius: 5px;
  color: #d4f2af;
  font-size: 95%;
  box-shadow: 0 3px 2px -2px gray;
}

.contact_form_submit_button:active {
  color: #9a84a8;
}

.facebook_actions iframe {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
}

.footer {
  padding: 2%;
  margin: 2% 0;
  background-color: #9a84a8;
  text-align: center;
  letter-spacing: 1.5px;
  color: white;
  border-radius: 21px;
  box-shadow: 0 4px 2px -2px gray;
}

.notice {
  width: 60%;
  margin: 0 20% 2% 20%;
  text-align: center;
  padding: 2%;
  border: 2px solid #ae5076;
  border-radius: 5px;
}

.error_messages ul {
  padding: 2%;
  border: 2px solid #ae5076;
  border-radius: 5px;
  list-style-type: none;
  text-align: center;
}

p.status {
  margin: 7% 40%;
  width: 20%;
  color: #d4f2af;
}

.price {
  margin: -3% 0 0 0;
}

.sold {
  color: #d4f2af;
  border-radius: 5px;
  background-color: #89b453;
  margin: 4% 40%;
  width: 20%;
  padding: 3%;
}

.interested {
  margin: 7% 30%;
  width: 40%;
}

.interested a {
  padding: 7%;
  background-color: #89b453;
  color: #d4f2af;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px gray;
}

p.status a:hover {
  color: #7a4899;
}