%p
  .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/encorefurnishingsnashville", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "false"}
%p
  %a#fb-invite Invite your Friends